/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 3px black !important;
    padding:15px;
}




td {
    border-collapse: collapse;
    padding:15px;
}
tr{
    border-collapse: collapse;
}

th {
    background-collapse : collapse;
    color: black;
    position: center;
}
thead {
    background-color: bisque;
}

tr{
    color: black !important;
}
body{
    background-color: bisque !important;
}
header{
    background-color: bisque !important;
}

div.container{

    background-color: bisque !important;
}

nav.navbar{
    background-color: bisque !important;
}






