/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

.carousel-inner{
    margin-top: -20px;
    margin-left: 20%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background: aqua;
}





