/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.carousel-inner{
    margin-top: -10px;
    margin-left: 20%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background: aqua;
}



tr:nth-child(even) {
    background-color: #D6EEEE;
}





/* carousel */
.top{
    margin: -10px;
    position: absolute;
    z-index: 0;
    width: 1000px;
}