/* CSS stylesheet  for application */

nav {
    background-color: #FFF0DA;
}

.navbar-brand {
    margin-left: 14%;
}

.navbar h1 {
    font-weight: 700;
}

body {
    background-color: #FFF5E5;
    font-family: 'Inter', sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding: 15px;
}

th, td {
    border: 1px solid silver;
    padding: 15px;
    vertical-align: top;
}


tr:nth-child(even) {
    background-color: #FFF0DA;
}

.shop_container {
    margin-left: 85%;
    background-color: #D6EEEE;
    border: solid #95732A;
}

.main-content {
    flex: 1;

}

.cart {
    border: 2px solid #95732A;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.25);
}

.cart-item i {
    opacity: .75;
}

.items {
    height: 50vh;
    overflow-y: auto;
}

.cart-heading {
    font-weight: bold;
    font-size: 24px;
}

.shopping-cart {
    margin-top: 6%;
    width: 25%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.itemName {
    margin-right: 10px;
}

.itemPrice {
    margin-left: 10px;
}

.cupcakePrice {
    text-align: right;
}

.totalPrice {
    text-align: right;
}

.grid_form{
    display: grid;
    grid-template-columns: 300px 300px;
    margin-left: 20%;
    grid-gap: 20%;
}

.item5{

    width: 200px;
    margin-left: 88%;
    margin-top: 18%;

}

.grid_form:nth-child(2){

    margin-top: 9rem;
}

input[type=radio] {
    opacity: 0;
}

.card {
    background-color: #FFF5E5;
    transition-duration: 0.2s;
    user-select: none;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

label img {
    width: 100%;
    height: 5em;
    object-position: top;
    object-fit: cover;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked + label {
    border-color: #ddd;
}

:checked + label img {
    transform: scale(1.1);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}

:checked + .card {
    border-color: #ddd;
    box-shadow: 2px 2px 5px 0px rgba(51, 51, 51, 0.25);
    background-color: #FFF0DA;
}

.m_right {
    margin-right: 4em;
}

.loginHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form {
    display: grid;
}

.password, email {
    margin-right: 10px;
}

.signupKnap {
    align-items: center;
}

.login {
    margin-top: 1.4%;
}

.signup {
    margin-top: 2%;
    margin-left: 57%;
}



